---
layout: default
title: About
---

{% include topbar.html %}
<div class="layout">
  {% include sidebar.html %}
  <div class="content">
    <main>
      <section>
        <h2>About Me</h2>
        <hr style="border: none; border-top: 1.5px solid #b0b3b8; margin: 0 0 3em 0;" />
        <p>I am a Machine Learning Engineer with a passion for building intelligent systems. I enjoy working with data and using it to solve real-world problems. In my free time, I love reading, traveling, and exploring new technologies.</p>
      </section>
    </main>
  </div>
</div>
<footer>
  &copy; {{ site.time | date: '%Y' }} Ritika Kumari
</footer>
