---
layout: default
title: Blog
---

{% include topbar.html %}
<div class="layout">
  {% include sidebar.html %}
  <div class="content">
    <main>
      <section id="blog">
        <style>
        /* Add 3em margin between h2 and h3, and 2em between h3 and h3 in #blog. Set h3 color to #1696ec. */
        #blog h3 {
            margin-top: 0;
            margin-bottom: 2em;
            color: #1696ec;
        }
        #blog h3:last-of-type {
            margin-bottom: 0;
        }
        </style>
        <h2>Blogs</h2>
        <hr style="border: none; border-top: 1.5px solid #b0b3b8; margin: 0 0 3em 0;" />
        <h3><a href="https://medium.com/@ritikakumari1302/brief-introduction-to-ml-for-trading-aade481c98fa" target="_blank">Brief Introduction to ML for Trading</a></h3>
        <h3><a href="https://medium.com/@ritikakumari1302/serving-smashing-starting-over-29049a3e7118" target="_blank">Serving, Smashing & Starting Over</a></h3>
        <h3><a href="https://medium.com/@ritikakumari1302/computational-graphs-and-automatic-differentiation-b5404b5fbaa3" target="_blank">Computational Graphs and Automatic Differentiation</a></h3>
        <h3><a href="https://medium.com/@ritikakumari1302/knowledge-graphs-how-to-build-from-text-c2353570a9e4" target="_blank">Knowledge Graphs: How to build from text</a></h3>
      </section>
    </main>
  </div>
</div>
<footer>
  &copy; {{ site.time | date: '%Y' }} Ritika Kumari
</footer>
