---
layout: default
title: Reading
---

{% include topbar.html %}
<div class="layout">
  {% include sidebar.html %}
  <div class="content">
    <main>
      <section>
        <h2>Reading</h2>
        <hr style="border: none; border-top: 1.5px solid #b0b3b8; margin: 0 0 3em 0;" />
        <p>I enjoy reading quite a lot. Even if I can’t always find as much time for it as I’d like, I try to make room for it whenever possible. I also enjoy discussing what I read, and this space consists of my very original reviews.</p>
      </section>
    </main>
  </div>
</div>
<footer>
  &copy; {{ site.time | date: '%Y' }} Ritika Kumari
</footer>
