---
layout: default
title: Travel
---

{% include topbar.html %}
<div class="layout">
  {% include sidebar.html %}
  <div class="content">
    <main>
      <section>
        <h2>Travel</h2>
        <hr style="border: none; border-top: 1.5px solid #b0b3b8; margin: 0 0 3em 0;" />
        <p>I love traveling, perhaps a little too much, and I try to document at least one interesting or unique experience from every place I go.</p>
        <!-- Add your travel content here -->
      </section>
    </main>
  </div>
</div>
<footer>
  &copy; {{ site.time | date: '%Y' }} Ritika Kumari
</footer>
